@import "tailwindcss";

@theme {
     --*: initial;
     --bg-color: #0f1a24;
     --text-color: #ffffff;
     --btn-primary: #0a80ed;
     --btn-secondary: #21364a;
     --footer-text: #8fadcc;
     --bg-table: #172633;
     --percentage-color: #0ad95c;
     --bg-dashb-card: #243647;
     --admin-smtext: #91adc9;
}